
<% @posts.each do |post| %>
  <div class="post">
  <h1><%= post.title %></h2>
  <div class="content"><%= post.body %></div>
  Posted by:
  <% if logged_in? %>
    <%= post.user.name %>
  <% else %>
    <%= link_to "Log in", login_path %> to see who posted this.
  <% end %>
</div>
<% end %>
